.hive-facts-lists {
    width: 100%;
}

.fact-container {
    margin-bottom: 1.1em;
    min-height:70px;
    float:left;
}
[dir="rtl"] .fact-container {
    float: right;
}

.fact-container .fact-content {
    margin-bottom: -0.5em;
}

.fact-container .fact-content ul,
.fact-container .fact-content ol {
    list-style-position: inside;
    margin-block-start: 0;
    padding-inline-start: 0;
}

#hive-fact-form .bootstrap-switch-id-fact-display-icon {
    float: none;
}

.fact-source .text-muted {
    font-weight: 100;
}

.fact-container .fact-source {
    padding-top: 1em;
    margin-top: 1.5em;
    line-height: 1.1;
}
