.hive-block-form .has-error .legend-label {
    color: #b34646;
}

.hive-block-form .has-error .error {
    color: #b34646;
}

.hive-block-form .activity-status {
    border-top: 1px solid #D8D8D8;
    padding-bottom: 1em;
}

.hive-block-form .activity-status span {
    padding: 0.5em 1em;
    display: inline-block;
    top: -1px;
    position: relative;
    color: #fff;
}

.hive-block-form .activity-status .open {
    background-color: #4B7F33;
}

.hive-block-form .activity-status .closed {
    background-color: #B34636;
}

.hive-block-form .form-section {
    margin-top: 2em;
}

.hive-block-form .antispam {
    margin-top: 2em;
}

.hive-block-form .form-action {
    margin-top: 2em;
}

.hive-block-form .form-section .section-title {
    color: #3D4958;
    border-bottom: 2px solid #3D4958;
    margin-bottom: 0.5em;
    display: flex;
    justify-content: space-between;
}

.hive-block-form .action-bar {
    margin-top: 2em;
}

.hive-block-form .progress {
    border-radius: 0;
    height: 10px;
    box-shadow: none;
    background-color: #D8D8D8;
}

.hive-block-form .progress .progress-bar-success {
    background-color: #218739;
}

.hive-block-form .review-form fieldset {
    margin-top: 2em;
}

.hive-block-form .form-review fieldset legend {
    font-size: 18px;
    font-weight: bold;
}
