.underline {
    background-color: #eee;
    display: none;
    width: 25%;
    height: 1px;
    margin: 0 auto;
    margin-top: 1rem;
}

.hive-block-bio-content {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    -webkit-flex-wrap: wrap;
    -webkit-align-content: space-between;
    -webkit-justify-content: center;
    margin: 0 -10px;
}

.bio-image-container img {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    height: auto;
    width: 100%;
    align-self: center;
}


.bio-image-container {

    width: 100%;
    padding-bottom: 100%;
}



/**
 * Start bio display types
 */


.bio-display {
    margin: 0 10px;
    -webkit-flex-basis: 22%;
    flex-basis: 22%;
    width: 22%;
    margin-top: 15px;
}

.bio-display .bio-display-container {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 300px;
    height: 100%;
}

.bio-display.bio-bordered .bio-display-container {
    border: 1px solid #eee;
}

.bio-display .bio-display-container h4.bio-header {
    font-size: 1.5em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1em;
    margin-top: 2rem;
    margin-bottom: 0;
}

.bio-display .bio-display-container h5.bio-header {
    font-size: 1em;
    font-style: normal;
    font-weight: 700;
    line-height: 1.1em;
    margin-top: .5rem;
    margin-bottom: 10px;
}

div.ccm-page .bio-content p {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.bio-display .bio-content {
    width: 100%;
}

.bio-display.bio-bordered .bio-content {
    padding: 0 2rem;
}



/**
 * Columns
 */
.bio-display.col-2 {
    -webkit-flex-basis: 47.7%;
    flex-basis: 47.7%;
    width: 47.7%;
}

.bio-display.col-3 {
    -webkit-flex-basis: 31%;
    flex-basis: 31%;
    width: 31%;
}

.bio-display.col-4 {
    -webkit-flex-basis: 22.7%;
    flex-basis: 22.7%;
    width: 22.7%;
}

/**
 * Corner rounding
 */

.bio-display.bio-rounded .bio-display-container,
.bio-display.bio-rounded:not(.bio-bordered) .bio-image-container,
.bio-display.bio-rounded img {
    border-radius: 8px;
    z-index: 1;
}

.bio-display.bio-bordered.bio-rounded img {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.bio-display.bio-rounded .bio-image-container {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    z-index: 1;
}

/**
 * Display types
 */

.display-type {
    overflow: hidden;
}


/**
 * Square + Rectangle
 */

.bio-display.boxed .bio-display-container {
    padding: 0;
}

.bio-display.boxed .bio-image-container {
    position: relative;
    overflow: hidden;
    width: 100%;
}


.bio-display.rectangle .bio-image-container {
    padding-bottom: 70%;
}

@-moz-document url-prefix() {
    .bio-display.boxed .bio-image-container img {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .bio-display.boxed .bio-image-container {
        display: block;
    }
}

@media \\0 screen {
    .bio-display.boxed .bio-image-container img {
        position: absolute;
        top: 0;
        bottom: 0;
    }

    .bio-display.boxed .bio-image-container {
        display: block;
    }
}

.bio-display.boxed.rectangle.bio-rounded .bio-image-container  {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

.bio-display.boxed.rectangle .bio-image-container img {
    align-self: center;

}

.bio-display.boxed .bio-image-container img {
    position: absolute;
    left: 0;
    right: 0;
}


/**
 * Padded square
 */

.bio-display.square.padded-square .bio-display-container {
    padding: 1em;
}

.bio-display.square.padded-square .bio-display-container p {
    padding: 0;
}

.bio-display.square.padded-square .bio-display-container .underline {
    display: block;
}

.bio-display.square.padded-square.bio-bordered.bio-rounded .bio-image-container,
.bio-display.square.padded-square.bio-bordered.bio-rounded .bio-image-container img {
    border-radius: 8px;
}


/**
 * Circle
 */
.bio-display.circle {
    padding-top: 50px;
}

.bio-display.circle .bio-display-container .underline {
    display: block;
}

.bio-display.circle .bio-image-container {
    max-height: 140px; /* Responsive on browser resize */
    width: 50%;
    padding-bottom: 50%;
    position: relative;
    border-radius: 50% !important;
    z-index: 1;
    overflow: hidden;
    margin: 0 auto;
    margin-top: -45px;
}

.bio-display.circle .bio-image-container img {
    position: absolute;
    display: block;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto auto;
    height: auto;
    width: 100%;
    align-self: center;
}

@-moz-document url-prefix() {
    .bio-display.circle .bio-image-container img {
        top: 0;
        bottom: 0;
    }
}

.bio-display.circle .bio-image-container.small-wide img {
    height: 100%;
    width: auto;
}

/* Wide image fix */
.bio-display.bio-bordered:not(.circle) .bio-image-container.wide {
    overflow: hidden;
    position: relative;
    z-index: 1;
    border-radius: 0;
}

.bio-display.bio-bordered:not(.circle).bio-rounded .bio-image-container.wide {
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.bio-display.bio-bordered:not(.circle).bio-rounded.padded-square .bio-image-container.wide {
    border-radius: 8px;
}

.bio-display .bio-image-container.wide img {
    position: absolute;
    top: 0;
    width: auto;
    height: 100%;
    left: -1000px;
    right: -1000px;
    margin-left: auto;
    margin-right: auto;
}

.bio-display.rectangle .bio-image-container.wide img {
    height: 100%;
    width: auto;
}

.bio-display.rectangle .bio-image-container.small-wide img {
    width: 100%;
    height: auto;
}

.bio-display.square.padded-square .bio-image-container.wide img {
    width: auto;
    height: 100%;
    left: -1000px;
    right: -1000px;
    margin-left: auto;
    margin-right: auto;
}

.bio-display.circle.no-image {
    margin-top: 0;
}

/* Safari 7.0 fix */
@media \\0 screen {
    .bio-display {
        display: inline-block;
        vertical-align:top;
    }

    /**
     * Columns
     */
    .bio-display.col-2 {
        width: 47.5%;
    }

    .bio-display.col-3 {
        width: 30.8%;
    }

    .bio-display.col-4 {
        width: 22.4%;
    }

    @media only screen and (max-width : 991px) {

        .bio-display .bio-content {
            padding: 10px;
        }
    }

    @media only screen and (max-width : 1000px) {
        .bio-display {
            width: 100%;
        }

        .bio-display .bio-image-container{
            float: left;
            width: 140px;
            height: 140px;
            margin-inline-end: 5px;
            margin-bottom: 0;
        }
        [dir="rtl"] .bio-display .bio-image-container {
            float: right;
        }

        .bio-display .bio-display-container {
            margin-top: -10px;
        }
    }
}

@media only screen and (max-width : 991px) {
    .bio-display.circle .bio-display-container .underline,
    .bio-display.square.padded-square .bio-display-container .underline,
    .bio-display .bio-display-container .underline {
        float: left;
    }
    [dir="rtl"] .bio-display.circle .bio-display-container .underline,
    [dir="rtl"] .bio-display.square.padded-square .bio-display-container .underline,
    [dir="rtl"] .bio-display .bio-display-container .underline {
        float: right;
    }

    .hive-block-bio-content {
        display: block;
        flex-direction: column;
        justify-content: flex-start;
        -webkit-flex-direction: column;
        -webkit-justify-content: flex-start;
        margin: 0;
    }

    .bio-display,
    .bio-display.col-2,
    .bio-display.col-3,
    .bio-display.col-4 {
        display: flex;
        display: -webkit-flexbox;
        margin-inline-start: 0;
        -webkit-flex-basis: 100%;
        flex-basis: 100%;
        width: 100%;
    }

    .bio-display.circle {
        padding-top: 0;
        -webkit-flex-basis: calc(100% - 40px);
        flex-basis: calc(100% - 40px);
        width: calc(100% - 40px);
    }

    .bio-display .bio-display-container {
        display: flex;
        align-items: center;
        max-width: none;
        margin: auto;
    }

    .bio-display .bio-content{
        vertical-align: middle;
        padding: 0 0 0 .5em;
        width: calc(100% - 150px);
    }

    .bio-display.circle .bio-content{
        width: calc(100% - 120px);
    }

    .bio-display.bio-bordered .bio-content{
        padding: 0 .5em;
    }


    .bio-display.square.padded-square .bio-display-container,
    .bio-display .bio-display-container {
        text-align: start;
        padding: 5px;
    }

    .bio-display.rectangle .bio-image-container,
    .bio-display.circle .bio-image-container,
    .bio-display .bio-image-container {
        height: 140px;
        padding-bottom: 0;
        margin-inline-end: 10px;
        margin-bottom: 0;
        vertical-align: middle;
    }

    .bio-display .bio-image-container.wide img {
        max-height: 140px;
    }

    .bio-display .bio-image-container.small-wide.wide img {
        max-height: none;
    }

    .bio-display.rectangle .bio-image-container.small-wide.wide img {
        width: auto;
        height: 100%;
    }

    /*  Really wide images are full width but then their height is off  */
    .bio-display.rectangle .bio-image-container.wide img {
        width: 100%;
        height: auto;
    }

    .bio-display.boxed .bio-image-container {
        width: 140px;
        height: 140px;
    }

    .bio-display.boxed.rectangle .bio-image-container {
        padding-bottom: 15%;
    }

    .bio-rounded .bio-image-container {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .bio-rounded .bio-image-container img{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    .bio-display.bio-bordered:not(.circle).bio-rounded .bio-image-container,
    .bio-display.bio-bordered:not(.circle).bio-rounded .bio-image-container.wide,
    .bio-rounded .bio-image-container,
    .bio-rounded .bio-image-container img {
        border-radius: 8px;
        z-index: 1;
    }

    .bio-display .bio-display-container p,
    .bio-display.boxed .bio-display-container p {
        margin-bottom: .5em;
    }

    /**
     * Circle
     */
    .bio-display.circle {
        margin-bottom: 0;
        margin-inline-start: 40px;
    }

    .bio-display.circle .bio-display-container .underline,
    .bio-display.square.padded-square .bio-display-container .underline,
    .bio-display .underline{
        display: none;
        float: left;
        margin: 0 auto;
        margin-top: 10px;
    }

    [dir="rtl"] .bio-display.circle .bio-display-container .underline,
    [dir="rtl"] .bio-display.square.padded-square .bio-display-container .underline,
    [dir="rtl"] .bio-display .underline{
        float: right;
    }

    .bio-display.circle .bio-image-container {
        width: 140px;
        height: 140px;
        position: relative;
        border-radius: 50%;
        z-index: 1;
        display: inline-block;
        margin-inline-end: 10px;
        margin-top: 0;
        margin-bottom: 0;
        margin-inline-start: -40px;
    }
}


@media only screen and (min-width : 991px) and (max-width: 1333px) {
    /**
     * Columns screen resize fix
     */
    .bio-display.col-2 {
        -webkit-flex-basis: 47.6%;
        flex-basis: 47.6%;
        width: 47.6%;
    }

    .bio-display.col-3 {
        -webkit-flex-basis: 30.3%;
        flex-basis: 30.3%;
        width: 30.3%;
    }

    .bio-display.col-4 {
        -webkit-flex-basis: 22%;
        flex-basis: 22%;
        width: 22%;
    }
}


@media only screen and (min-width : 991px) and (max-width: 1053px) {
    /**
     * Columns screen resize fix
     */
    .bio-display.col-2 {
        -webkit-flex-basis: 47.2%;
        flex-basis: 47.2%;
        width: 47.2%;
    }

    .bio-display.col-3 {
        -webkit-flex-basis: 28.7%;
        flex-basis: 28.7%;
        width: 28.7%;
    }

    .bio-display.col-4 {
        -webkit-flex-basis: 21.5%;
        flex-basis: 21.5%;
        width: 21.5%;
    }
}










/*
 * SIDEBAR CODE
 */

.sidebar .bio-display.circle .bio-display-container .underline,
.sidebar .bio-display.square.padded-square .bio-display-container .underline,
.sidebar .bio-display .bio-display-container .underline {
    float: left;
}
[dir="rtl"] .sidebar .bio-display.circle .bio-display-container .underline,
[dir="rtl"] .sidebar .bio-display.square.padded-square .bio-display-container .underline,
[dir="rtl"] .sidebar .bio-display .bio-display-container .underline {
    float: right;
}

.sidebar .hive-block-bio-content {
    display: block;
    flex-direction: column;
    justify-content: flex-start;
    -webkit-flex-direction: column;
    -webkit-justify-content: flex-start;
    margin: 0;
}

.sidebar .bio-display,
.sidebar .bio-display.col-2,
.sidebar .bio-display.col-3,
.sidebar .bio-display.col-4 {
    display: flex;
    display: -webkit-flexbox;
    margin-inline-start: 0;
    -webkit-flex-basis: 100%;
    flex-basis: 100%;
    width: 100%;
}

.sidebar .bio-display.circle {
    padding-top: 0;
    -webkit-flex-basis: calc(100% - 40px);
    flex-basis: calc(100% - 40px);
    width: calc(100% - 40px);
}

.sidebar .bio-display.circle.no-image{
    margin-inline-start: 0px;
    width: 100%;
}

.sidebar .bio-display.circle.no-image .bio-content{
    padding: 0;
    width: 100%;
}

.sidebar .bio-display .bio-display-container {
    display: flex;
    align-items: center;
    max-width: none;
    margin: auto;
}

.sidebar .bio-display.no-image .bio-display-container {
    padding: 0px;
}

.bio-display.circle .bio-display-container,
.bio-display.circle .bio-display-container div {
    display: inline-block;
}

.sidebar .bio-display .bio-content{
    vertical-align: middle;
    padding: 0 0 0 .5em;
    width: calc(100% - 160px);
}

.sidebar .bio-display.no-image .bio-content{
    padding: 0;
    width: 100%;
}

.sidebar .bio-display.circle .bio-content{
    width: calc(100% - 130px);
}

.sidebar .bio-display.square.padded-square .bio-display-container,
.sidebar .bio-display .bio-display-container {
    text-align: start;
    padding: 5px;
}

.sidebar .bio-display.square.padded-square.no-image .bio-display-container {
    padding: 0px;
}

.sidebar .bio-display.rectangle .bio-image-container,
.sidebar .bio-display.circle .bio-image-container,
.sidebar .bio-display .bio-image-container {
    padding-bottom: 0;
    margin-inline-end: 10px;
    margin-bottom: 0;
    vertical-align: middle;
}

.sidebar .bio-display .bio-image-container {
    height: 140px;
    width: 140px;
    padding-bottom: 0;
}

.sidebar .bio-display .bio-image-container.wide img {
    max-height: 140px;
}

.sidebar .bio-display .bio-image-container.small-wide.wide img {
    max-height: none;
}

.sidebar .bio-display.rectangle .bio-image-container.small-wide.wide img {
    width: auto;
    height: 100%;
}

.sidebar .bio-display.rectangle .bio-image-container.wide img {
    width: 100%;
    height: auto;
}
.sidebar .bio-display.boxed.rectangle .bio-image-container {
    width: 50%;
    padding-bottom: 15%;
}

/* Safari inline elements */
@media \\0 screen {

    .sidebar .bio-display .bio-image-container {
        display: inline-block;
    }

    .sidebar .bio-display .bio-content{
        display: inline-block;
        width: 60%;
    }

    .sidebar .bio-display.boxed .bio-content{
        width: 45%;
    }

}

.sidebar .bio-rounded .bio-image-container {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sidebar .bio-rounded .bio-image-container img{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.sidebar .bio-display.bio-bordered:not(.circle).bio-rounded .bio-image-container,
.sidebar .bio-display.bio-bordered:not(.circle).bio-rounded .bio-image-container.wide,
.sidebar .bio-rounded .bio-image-container,
.sidebar .bio-rounded .bio-image-container img {
    border-radius: 8px;
    z-index: 1;
}

.sidebar .bio-display .bio-display-container p,
.sidebar .bio-display.boxed .bio-display-container p {
    margin-bottom: .5em;
}

/**
 * Circle
 */
.sidebar .bio-display.circle {
    margin-bottom: 0;
    margin-inline-start: 40px;
}

.sidebar .bio-display.circle .bio-display-container .underline,
.sidebar .bio-display.square.padded-square .bio-display-container .underline,
.sidebar .bio-display .underline{
    display: none;
    float: left;
    margin: 0 auto;
    margin-top: 10px;
}
[dir="rtl"] .sidebar .bio-display.circle .bio-display-container .underline,
[dir="rtl"] .sidebar .bio-display.square.padded-square .bio-display-container .underline,
[dir="rtl"] .sidebar .bio-display .underline{
    float: right;
}

.sidebar .bio-display.circle .bio-image-container {
    position: relative;
    border-radius: 50%;
    z-index: 1;
    display: inline-block;
    margin-inline-end: 10px;
    margin-top: 0;
    margin-bottom: 0;
    margin-inline-start: -40px;
}


@media only screen and (max-width : 991px) and (min-width: 768px) {

    .sidebar .bio-display .bio-image-container {
        height: 100px;
        width: 100px;
    }

    .sidebar .bio-display .bio-content {
        width: calc(100% - 100px);
    }

    .sidebar .bio-display.circle .bio-content{
        width: calc(100% - 80px);
    }

}

@media only screen and (max-width : 991px) {


    .sidebar .bio-display.boxed.rectangle .bio-image-container {
        padding-bottom: 25%;
    }

    .bio-display.bio-bordered.bio-rounded img {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
    }
}
